.booking {
  margin-top: 123px;
  min-height: 555px;
  background: url("../img/background-form-desktop.jpg")  center center / cover no-repeat;
  background: image-set(url("../img/background-form-desktop.webp") 1x) center center / cover no-repeat;
  background-size: cover;
  background-color: $color-solitude;
  position: relative;

  @media (min-resolution: 2dppx) and (min-width: 1024px) {
    min-height: 555px;
    background: url("../img/background-form-desktop@2x.jpg") center center / cover no-repeat;
    background: image-set(url("../img/background-form-desktop@2x.webp") 2x) center center / cover no-repeat;
    background-size: cover;
    background-color: $color-solitude;
  }

  @media (max-width: $vp-1023) {
    min-height: 805px;
    margin-top: 112px;
    background: url("../img/background-form-tablet.jpg")  center center / cover no-repeat;
    background: image-set(url("../img/background-form-tablet.webp") 1x) center center / cover no-repeat;
    background-size: cover;
    background-color: $color-solitude;
  }

  @media (min-resolution: 2dppx) and (max-width: $vp-1023) {
    min-height: 805px;
    background: url("../img/background-form-tablet@2x.jpg") center center / cover no-repeat;
    background: image-set(url("../img/background-form-tablet@2x.webp") 2x) center center / cover no-repeat;
    background-size: cover;
    background-color: $color-solitude;
  }

  @media (max-width: $vp-767) {
    min-height: 760px;
    margin-top: 70px;
    background: url("../img/background-form-mobile.jpg") center center / cover no-repeat;
    background: image-set(url("../img/background-form-mobile.webp") 1x) center center / cover no-repeat;
    background-size: cover;
    background-color: $color-solitude;
  }

  @media (min-resolution: 2dppx) and (max-width: $vp-767) {
    min-height: 760px;
    background: url("../img/background-form-mobile@2x.jpg") center center / cover no-repeat;
    background: image-set(url("../img/background-form-mobile@2x.webp") 2x) center center / cover no-repeat;
    background-size: cover;
    background-color: $color-solitude;
  }
}

.booking__wrapper {
  display: grid;
  grid-template-columns: 560px 401px;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;

  @media (max-width: $vp-1023) {
    grid-template-columns: 1fr;
  }
}

.booking__container {
  @media (max-width: $vp-1023) {
    padding-left: 0;
    padding-top: 50px;
  }

  @media (max-width: $vp-767) {
    padding-top: 0;
  }
}

.booking__container h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
  margin-top: 164px;

  @media (max-width: $vp-1023) {
    margin-top: 34px;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
  }

  @media (max-width: $vp-767) {
    font-size: 24px;
    line-height: 31px;
    margin-top: 55px;
  }
}

.booking__container p {
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  margin-top: 7px;

  @media (max-width: $vp-1023) {
    text-align: center;
    margin-bottom: 54px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 35px;
  }
}

.booking__form {
  padding: 50px;
  padding-top: 43px;
  width: 403px;
  background: $color-tangaroa;
  justify-self: center;
  box-shadow: 0 4px 45px $color-tangaroa--15;

  @media (max-width: $vp-1023) {
    padding-top: 44px;
  }

  @media (max-width: $vp-767) {
    width: 290px;
    padding: 32px 30px;
  }

  &--checkbox {
    display: flex;
  }
}

.booking__form fieldset {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.booking__form legend {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-alice-blue;
  margin-bottom: 30px;

  @media (max-width: $vp-767) {
    line-height: 25px;
    padding: 0 8px;
    text-align: center;
  }
}

.booking__form input {
  margin-bottom: 22px;
  background: $color-alice-blue;
  width: 303px;
  border: none;
  padding: 11px 0 11px 15px;

  @media (max-width: $vp-767) {
    width: 230px;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 21px;
    color: $color-tangaroa--70;
  }
}

.booking__form input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-bottom: 0;
  appearance: none;
  cursor: auto;
}

.booking__form span {
  font-size: 10px;
  line-height: 13px;
  color: $color-alice-blue;
  align-self: center;
  margin-left: 6px;

  @media (max-width: $vp-767) {
    line-height: 12px;
    display: block;
  }
}

.booking__form button {
  border: none;
  background: $color-alice-blue;
  padding: 10px;
  margin-top: 27px;
  width: 303px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $vp-767) {
    width: 230px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.booking__form input[type="checkbox"]:checked {
  background-image: url("../img/svg/icon-check.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}
