.footer {
  margin-top: 122px;

  @media (max-width: $vp-1023) {
    margin-top: 100px;
  }

  @media (max-width: $vp-767) {
    margin-top: 0;
  }
}

.footer__contacts {
  display: grid;
  grid-template-columns: 560px auto;
  gap: 100px;

  @media (max-width: $vp-1023) {
    grid-template-columns: 324px auto;
    gap: 30px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: auto;
    gap: 36px;
  }
}

.footer__nav {
  background: $color-tangaroa;
  margin-top: 120px;
  min-height: 138px;
  display: grid;

  @media (max-width: $vp-1023) {
    margin-top: 99px;
    min-height: 120px;
  }

  @media (max-width: $vp-767) {
    margin-top: 67px;
    min-height: 283px;
  }
}
