.main-nav {
  align-self: center;
  justify-self: right;
}

[data-menu="menu"].is-active {
  @media (max-width: $vp-767) {
    height: 568px;
    background: $color-alice-blue;
    width: 285px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $vp-767) {
    display: none;
  }
}

.main-nav li {
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $vp-1365) {
    margin-right: 23px;
  }
}

.main-nav button {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 22px;
    right: 15px;
    border: none;
    background: transparent;
    cursor: pointer;

    &::after {
      content: "";

      position: absolute;
      width: 24px;
      height: 2px;
      background-color: $color-alice-blue;
      box-shadow: 0 6px 0 0 $color-alice-blue, 0 12px 0 0 $color-alice-blue;
      top: 0;
      right: 0;
    }
  }
}

.main-nav a {
  color: $color-alice-blue;
  font-weight: 500;
  line-height: 20px;

  @media (max-width: $vp-1365) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $vp-767) {
    color: $color-tangaroa;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px;
    display: block;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

[data-menu="menu"].is-close ul {
  display: none;
}

[data-menu="menu"].is-active button {
  @media (max-width: $vp-767) {
    &::after {
      content: "";
      position: absolute;
      width: 42px;
      height: 22px;
      top: -3px;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/svg/icon-close.svg");
      cursor: pointer;
    }
  }
}

[data-menu="menu"].is-active ul {
  @media (max-width: $vp-767) {
    display: block;
    padding-left: 25px;
    padding-top: 82px;

    &::before {
      content: "";
      position: absolute;
      width: 42px;
      height: 22px;
      top: 19px;
      left: 17px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/svg/logo-menu.svg");
    }
  }
}
