.page-header {
  min-height: 650px;
  background: url("../img/main-background-desktop.jpg") center center no-repeat;
  background: image-set(url("../img/main-background-desktop.webp") 1x) center center no-repeat;
  background-size: cover;
  background-color: $color-prussian-blue;

  @media (min-resolution: 2dppx) and (min-width: 1024px) {
    min-height: 650px;
    background: url("../img/main-background-desktop@2x.jpg") center center no-repeat;
    background: image-set(url("../img/main-background-desktop@2x.webp") 2x) center center no-repeat;
    background-size: cover;
    background-color: $color-prussian-blue;
  }

  @media (max-width: $vp-1023) {
    min-height: 638px;
    background: url("../img/main-background-tablet.jpg") center center no-repeat;
    background: image-set(url("../img/main-background-tablet.webp") 1x) center center no-repeat;
    background-color: $color-prussian-blue;
    background-size: cover;
  }

  @media (min-resolution: 2dppx) and (max-width: $vp-1023) {
    min-height: 638px;
    background: url("../img/main-background-tablet@2x.jpg") center center no-repeat;
    background: image-set(url("../img/main-background-tablet@2x.webp") 2x) center center no-repeat;
    background-color: $color-prussian-blue;
    background-size: cover;
  }

  @media (max-width: $vp-767) {
    min-height: 500px;
    position: relative;
    background: url("../img/main-background-mobile.jpg") center center no-repeat;
    background: image-set(url("../img/main-background-mobile.webp") 1x) center
      center no-repeat;
    background-color: $color-prussian-blue;
    background-size: cover;
  }

  @media (min-resolution: 2dppx) and (max-width: $vp-767) {
    min-height: 500px;
    background: url("../img/main-background-mobile@2x.jpg") center center no-repeat;
    background: image-set(url("../img/main-background-mobile@2x.webp") 2x) center center no-repeat;
    background-color: $color-prussian-blue;
    background-size: cover;
  }
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 1fr 2fr;
  padding-top: 35px;

  @media (max-width: $vp-1023) {
    padding-top: 30px;
  }

  @media (max-width: $vp-767) {
    padding-top: 22px;
    display: flex;
    flex-direction: column;
  }
}

.page-header img {
  @media (max-width: $vp-1023) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $vp-767) {
    width: 42px;
    height: 22px;
  }
}

[data-header="header"].is-active img {
  display: none;
}

[data-header="header"].is-active .caption {
  display: none;
}

[data-header="header"].no-js img {
  opacity: 0;
}

[data-header="header"].no-js .caption {
  margin-top: 250px;
}
