.wrapper {
  height: 650px;
  background: url("../../img/main-background-desktop.jpg") no-repeat   top center;
  background-size: cover;
  position: relative;

  @media (min-resolution: 2dppx) {
    height: 650px;
    background: url("../../img/main-background-desktop@2x.jpg") no-repeat top center;
    background-size: cover;
  }

  @media (max-width: $vp-1365) {
    height: 638px;
    background: url("../../img/main-background-tablet.jpg") no-repeat top center;
    background-size: cover;
    position: relative;
  }

  @media (min-resolution: 2dppx) {
    height: 638px;
    background: url("../../img/main-background-tablet@2x.jpg") no-repeat top center;
    background-size: cover;
  }

  @media (max-width: $vp-767)  {
    height: 500px;
    background: url("../../img/main-background-mobile.jpg") no-repeat top center;
    background-size: cover;
    position: relative;
  }

  @media (min-resolution: 2dppx) {
      height: 500px;
      background: url("../../img/main-background-mobile@2x.jpg") no-repeat top center;
      background-size: cover;
  }
}
