.container {
  width: 100%;
  max-width: $vp-1920;
  margin: 0 auto;

    @media(min-width: $vp-1366) {
    min-width: 1160px;
    padding-left: 103px;
    padding-right: 103px;
    }

    @media(max-width: $vp-1365) {
      min-width: $vp-768;
      max-width: 1160px;
      padding: 0 45px;
    }

    @media(max-width: $vp-767) {
      min-width: $vp-320;
      padding: 0 15px;
    }
}
