// color
$color-alice-blue: #f9fbfd;
$color-tangaroa: #011c40;
$color-tangaroa--15: rgba(1, 28, 64, 0.15);
$color-tangaroa--70: rgba(1, 28, 64, 0.7);
$color-quartz: #d8d8d9;
$color-solitude: #e3ecf6;
$color-prussian-blue: #002b66;
$color-prussian-blue--50: rgba(0, 43, 102, 0.5);
// font
$fz-default: 16px;
$ff-default: "Montserrat", sans-serif;

// Viewports
// ---------------------------------

$vp-767: 767px;
$vp-768: 768px;
$vp-1023: 1023px;
$vp-1365: 1365px;
$vp-1366: 1366px;
